<h1 class="text-4xl font-bold text-slate-700 mb-2">Welcome to your Dashboard</h1>
<p class="text-sm text-slate-500">Here you can start creating your resume, manage your data, and more.</p>


@{
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
    ViewData["Title"] = "Dashboard";
}

<!-- Start of Dashboard Content -->
<div class="flex flex-wrap -mx-3">
    <!-- Card 1 -->
    <div class="flex flex-wrap -mx-3">
        <!-- Today's Money -->
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl bg-clip-border">
                <div class="flex-auto p-4">
                    <div class="flex flex-row -mx-3">
                        <div class="flex-none w-2/3 max-w-full px-3">
                            <p class="mb-0 text-sm font-semibold uppercase">Today's Money</p>
                            <h5 class="mb-2 font-bold">$53,000</h5>
                            <p class="mb-0 text-sm font-bold text-emerald-500">+55% since yesterday</p>
                        </div>
                        <div class="px-3 text-right basis-1/3">
                            <div class="inline-block w-12 h-12 bg-gradient-to-tl from-blue-500 to-violet-500 rounded-circle text-white text-center">
                                <i class="ni ni-money-coins text-lg relative top-3.5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Today's Users -->
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl bg-clip-border">
                <div class="flex-auto p-4">
                    <div class="flex flex-row -mx-3">
                        <div class="flex-none w-2/3 max-w-full px-3">
                            <p class="mb-0 text-sm font-semibold uppercase">Today's Users</p>
                            <h5 class="mb-2 font-bold">2,300</h5>
                            <p class="mb-0 text-sm font-bold text-emerald-500">+3% since last week</p>
                        </div>
                        <div class="px-3 text-right basis-1/3">
                            <div class="inline-block w-12 h-12 bg-gradient-to-tl from-red-600 to-orange-600 rounded-circle text-white text-center">
                                <i class="ni ni-world text-lg relative top-3.5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- New Clients -->
        <div class="w-full max-w-full px-3 mb-6 sm:w-1/2 xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl bg-clip-border">
                <div class="flex-auto p-4">
                    <div class="flex flex-row -mx-3">
                        <div class="flex-none w-2/3 max-w-full px-3">
                            <p class="mb-0 text-sm font-semibold uppercase">New Clients</p>
                            <h5 class="mb-2 font-bold">+3,462</h5>
                            <p class="mb-0 text-sm font-bold text-red-600">-2% since last quarter</p>
                        </div>
                        <div class="px-3 text-right basis-1/3">
                            <div class="inline-block w-12 h-12 bg-gradient-to-tl from-emerald-500 to-teal-400 rounded-circle text-white text-center">
                                <i class="ni ni-paper-diploma text-lg relative top-3.5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Sales -->
        <div class="w-full max-w-full px-3 sm:w-1/2 xl:mb-0 xl:w-1/4">
            <div class="relative flex flex-col min-w-0 break-words bg-white shadow-xl rounded-2xl bg-clip-border">
                <div class="flex-auto p-4">
                    <div class="flex flex-row -mx-3">
                        <div class="flex-none w-2/3 max-w-full px-3">
                            <p class="mb-0 text-sm font-semibold uppercase">Sales</p>
                            <h5 class="mb-2 font-bold">$103,430</h5>
                            <p class="mb-0 text-sm font-bold text-emerald-500">+5% than last month</p>
                        </div>
                        <div class="px-3 text-right basis-1/3">
                            <div class="inline-block w-12 h-12 bg-gradient-to-tl from-orange-500 to-yellow-500 rounded-circle text-white text-center">
                                <i class="ni ni-cart text-lg relative top-3.5"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>


<!-- End of Dashboard Content -->
