@model ResumeGenerator.Models.Portfolio

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Portfolio</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="personalImage" class="control-label"></label>
                <input asp-for="personalImage" class="form-control" />
                <span asp-validation-for="personalImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="createdDate" class="control-label"></label>
                <input asp-for="createdDate" class="form-control" />
                <span asp-validation-for="createdDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="modifiedDate" class="control-label"></label>
                <input asp-for="modifiedDate" class="form-control" />
                <span asp-validation-for="modifiedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isDeleted" /> @Html.DisplayNameFor(model => model.isDeleted)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="personalInfoId" class="control-label"></label>
                <input asp-for="personalInfoId" class="form-control" />
                <span asp-validation-for="personalInfoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="firstName" class="control-label"></label>
                <input asp-for="firstName" class="form-control" />
                <span asp-validation-for="firstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="secondName" class="control-label"></label>
                <input asp-for="secondName" class="form-control" />
                <span asp-validation-for="secondName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="thridName" class="control-label"></label>
                <input asp-for="thridName" class="form-control" />
                <span asp-validation-for="thridName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="lastName" class="control-label"></label>
                <input asp-for="lastName" class="form-control" />
                <span asp-validation-for="lastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="email" class="control-label"></label>
                <input asp-for="email" class="form-control" />
                <span asp-validation-for="email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="dateOfBirth" class="control-label"></label>
                <input asp-for="dateOfBirth" class="form-control" />
                <span asp-validation-for="dateOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="phoneNumber" class="control-label"></label>
                <input asp-for="phoneNumber" class="form-control" />
                <span asp-validation-for="phoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="linkedInLink" class="control-label"></label>
                <input asp-for="linkedInLink" class="form-control" />
                <span asp-validation-for="linkedInLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="githubLink" class="control-label"></label>
                <input asp-for="githubLink" class="form-control" />
                <span asp-validation-for="githubLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="bio" class="control-label"></label>
                <input asp-for="bio" class="form-control" />
                <span asp-validation-for="bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
