@model ResumeGenerator.Models.Experience

@{
    ViewData["Title"] = "Create Experience";
}

<h1>Create Experience</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="title" class="control-label"></label>
                <input asp-for="title" class="form-control" />
                <span asp-validation-for="title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="companyName" class="control-label"></label>
                <input asp-for="companyName" class="form-control" />
                <span asp-validation-for="companyName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="startDate" class="control-label"></label>
                <input asp-for="startDate" type="date" class="form-control" />
                <span asp-validation-for="startDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="endDate" class="control-label"></label>
                <input asp-for="endDate" type="date" class="form-control" />
                <span asp-validation-for="endDate" class="text-danger"></span>
            </div>

            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="isCurrent" />
                    @Html.DisplayNameFor(model => model.isCurrent)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <textarea asp-for="description" class="form-control"></textarea>
                <span asp-validation-for="description" class="text-danger"></span>
            </div>

            <!-- Hidden resumeId -->
            <input asp-for="resumeId" type="hidden" />

            <div class="form-group mt-3">
                <input type="submit" value="Next" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
